<div class="container">
  <div class="jumbotron">
<h2>Edit Profile</h2>

	<form name = "submit" method = "get" action = "/profile">
		
	First Name:<br>
	<input type = "text" value = "{{firstname}}" name = "firstname">
	<br>
	Last Name:<br>
	<input type = "text" value = "{{lastname}}" name = "lastname">
	<br>
	Email:<br>
	<input type = "text" value = "{{email}}" name = "email">
	<br>
	New Password:<br>
	<input type = "password" value = "{{password}}" name = "newPassword">
	<br>
	Confirm Password:<br>
	<input type = "password" value = "{{password}}" name = "confimPassword">
	<br>
		<input name = "submit" type = "submit" value = "Submit">
	</form>
</div>
</div>
