<ul class="movie_list">
  {{#each movies}}
  

<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="{{this.posters.detailed}}" alt="moviePoster">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{this.title}} ({{this.year}})</h4>
   <p>Genres: {{#each this.genres}} </p>
   
    <p>Rated : {{this.mpaa_rating}} </p>
  </div>
</div>
        
    
  {{else}}
    <p>No result</p>
  {{/each}}
  {{/each}}
</ul>
